<div *ngIf="muv=='lap'">
  <app-lap (kuldeni)="kuld()"></app-lap>
</div>
<div data-Megj="csak hogy meglegyen a színe">
  <button (click)="kuld()">hagymennyen</button>
</div>
<app-se-dr *ngIf="_seKozos.se && _seKozos.se.altip"></app-se-dr>  <!-- kell a _seKozos.se && , mert van, hogy még üres -->
<app-se *ngIf="_kozos.tip=='se'" (kuldeni)="kuld()"></app-se>
<div *ngIf="_kozos.httpValasz.body">
  <pre>{{_kozos.stringified(_kozos.httpValasz.body)}}</pre>
</div>
<div class="hiba" *ngIf="_kozos.hibauz.status">
  <pre style="white-space: pre-wrap;">{{_kozos.hibauz.error}}</pre>
  <pre style="white-space: pre-wrap;">{{_kozos.stringified(_kozos.hibauz.status)}}</pre>
</div>

